{
    "tagFormat": "${version}",
    "branch": "master",
    "verifyConditions": [
        "@semantic-release/changelog",
        "@open-rpc/semantic-release-plugin",
        "@semantic-release/git",
        "@semantic-release/github"
    ],
    "prepare": [
        "@semantic-release/changelog",
        "@open-rpc/semantic-release-plugin"
    ],
    "publish": [
        "@semantic-release/github"
    ],
    "success": [
        "@semantic-release/github"
    ],
    "fail": [
        "@semantic-release/github"
    ]
}