{
    "tagFormat": "${version}",
    "branch": "master",
    "plugins": [
        "@semantic-release/changelog",
        "@open-rpc/semantic-release-plugin",
        "@semantic-release/git",
        "@semantic-release/github",
        [
            "@semantic-release/exec",
            {
                "publishCmd": "npm run build && npm run publish"
            }
        ]
    ]
}